.founder-img img{
    width: 18rem;
    border-radius: 50%;
    
}
.founder{
margin: auto;
}
.founder-text{
    display: flex;
    flex-direction:column ;
    justify-content: center;
    /* padding-right:8rem   ; */
}
.found{
    margin-left:10rem ;
    margin-right: 10rem;
    padding-bottom:10rem ;
}